<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <app-progress></app-progress>
            </div>
            <div class="col-sm-6">

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <app-attempts></app-attempts>
                </div>
            </div>
        </div>
        <div class="row">
            <h6>Traduza essa frase:</h6>
            <div class="mb-3">
                <p class="form-label">Hey you</p>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-primary">Enviar</button>
        </div>

    </div>
</div>